body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flexible {
    display: flex;
    padding-left: 5%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
}

.stay-focus {
    font-size: 70px;
    font-family: 'Gentium Book Plus', serif;
    padding-left: 1%;
}

.section_1_info {
    padding-top: 5%;
    padding-left: 8%;
}

.exceptional {
    color: #FFAD5A;
}

.about {
    font-size: 23px;
    margin-bottom: 5%;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 14px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: #FF5959;
}

.button:hover {
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #FF5959;
    color: #FF5959;
    transition: 0.4s;
}

.scroll {
    font-size: 17px;
    margin-top: 5%;
}

.border {
    height: 132px;
    width: 5px;
    background-color: #FF5959;
    position: absolute;
    top: 162px;
    border-radius: 5px;
}