body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 5%;
}

.flexible {
    display: flex;
    padding-left: 5%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
}

.stay-focus {
    font-size: 70px;
    font-family: 'Gentium Book Plus', serif;
    padding-left: 1%;
}

.section_1_info {
    padding-top: 5%;
    padding-left: 8%;
}

.exceptional {
    color: #FFAD5A;
}

.about {
    font-size: 23px;
    margin-bottom: 5%;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 14px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: #FF5959;
}

.button:hover {
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #FF5959;
    color: #FF5959;
    transition: 0.4s;
}

.scroll {
    font-size: 17px;
    margin-top: 5%;
}

.border {
    height: 132px;
    width: 5px;
    background-color: #FF5959;
    position: absolute;
    top: 162px;
    border-radius: 5px;
}

.mission-head {
    text-align: center;
    font-size: 55px;
}

.mission img {
    width: 45%;
    margin-left: 5%;
}

.mission-whole {
    width: 25%;
    height: 450px;
    margin-left: 5%;
    border-radius: 40px;
}

.grey {
    background-color: #EDF5F6;
}

.pink {
    background-color: #FFEEEE;
}

.yellow {
    background-color: #FFF4D6;
}

.mission-whole-head {
    font-size: 28px;
    padding-left: 10%;
}

.mission-info {
    font-size: 18px;
    padding-left: 10%;
}

.develop-section {
    font-size: 40px;
    font-weight: 800;
}

.develop img {
    margin-left: 10%;
    border-radius: 20px;
}